@use "./animations.scss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Major+Mono+Display&family=Neonderthaw&family=Staatliches&display=swap");
body {
	font-family: "Avenir";
	height: 100vh;
	width: 100%;
	background: slateblue;
	padding: 1em;
	box-sizing: border-box;
}

h2 {
	margin: 0;
	padding: 0;
}

.title__container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.typing-demo {
	white-space: nowrap;
	color: limegreen;
	font-family: Major Mono Display;
	text-decoration: underline;
	font-size: clamp(1.5em, 10vw, 5em);
	display: inline-block;
	overflow: hidden;
	letter-spacing: 2px;
	animation: typing 3s steps(30), blink 0.75s step-end infinite;
	border-right: 4px solid orange;
	box-sizing: border-box;
	max-width: fit-content;
}

@keyframes typing {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: limegreen;
	}
}

.svg {
}

.type-text {
	display: inline-block;
	font-size: clamp(1.5em, 10vw, 5em);
	white-space: nowrap;
	color: limegreen;
	font-family: Major Mono Display;
}

.final-text {
	font-size: 1.5em;
	font-family: "Avenir";
	font-weight: normal;
	color: limegreen;
}
